<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934317325666-pr7ofntbk7beqo9rhqftfn59dr48cc85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934317325666-pr7ofntbk7beqo9rhqftfn59dr48cc85</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934317325666-q43ite9trem7eefld92023lg68jfiom2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-w788HtKOeaCvzC2O1W-kLyZALv9xm40</string>
	<key>GCM_SENDER_ID</key>
	<string>934317325666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>madilyn.MUMENT</string>
	<key>PROJECT_ID</key>
	<string>mument-81153</string>
	<key>STORAGE_BUCKET</key>
	<string>mument-81153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934317325666:ios:befefff71f1a04e943003b</string>
</dict>
</plist>