<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FACEBOOK_APP_ID</key>
	<string>${FACEBOOK_APP_ID}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_NATIVE_APP_KEY)</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>${FACEBOOK_APP_ID}</string>
	<key>FacebookClientToken</key>
	<string>${FACEBOOK_CLIENT_TOKEN}</string>
	<key>FacebookDisplayName</key>
	<string>MUMENT</string>
	<key>DEFAULT_PROFILE_IMAGE_URL</key>
	<string>$(DEFAULT_PROFILE_IMAGE_URL)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>$(KAKAO_NATIVE_APP_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>instagram-stories</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
